@model IEnumerable<StoreSolution.Data.Areas.Stores.ViewModels.ProductVm>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">Product</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-3">
              <!--
              *** MENUS AND FILTERS ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Iphone
                        </label>
                      </div>
                    </div>
                    <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                  </form>
                </div>
              </div>
              <!-- *** MENUS AND FILTERS END ***-->
            </div>
            <div class="col-lg-9">
  
              <div class="row products">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6">
                          <div class="product">
                            <div class="flip-container">
                              <div class="flipper">
                                <div class="front"><a href="@Url.Action("Detail", "Product", new { id = item.Id })"><img src="/img/product1.jpg" alt="" class="img-fluid"></a></div>
                                <div class="back"><a href="@Url.Action("Detail", "Product", new { id = item.Id })"><img src="/img/product1_2.jpg" alt="" class="img-fluid"></a></div>
                              </div>
                            </div><a href="@Url.Action("Detail", "Product", new { id = item.Id })" class="invisible"><img src="/img/product1.jpg" alt="" class="img-fluid"></a>
                            <div class="text">
                              <h3><a href="@Url.Action("Detail", "Product", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a></h3>
                              <p class="price"> 
                                <del></del>@Html.DisplayFor(modelItem => item.Price)
                              </p>
                              <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a class="btn btn-primary" id="add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                            </div>
                            <input type="hidden" id="ProductId" value="@Html.DisplayFor(modelItem => item.Id)" />
                          </div>
                        </div>
                    }
                    
                <!-- /.products-->
              </div>
              <div class="pages">
                <p class="loadMore"><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a></p>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination">
                    <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
  



